[Unit]
Description=Duplicati Backup software
After=network.target

[Service]
User={{ duplicati_service_user | default(omit) }}
Nice=19
IOSchedulingClass=idle
EnvironmentFile=-/etc/default/duplicati
ExecStart={{ duplicati_execstart_cmd }}
Restart=always

[Install]
WantedBy=multi-user.target
